body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  cursor: url(./img/blaster.png) 10 10, auto;
}

body {
  background: linear-gradient(
    135deg,
    #87ceeb,
    #1e90ff,
    #40e0d0,
    #32cd32,
    #ffd700,
    #ffaec9
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body,
html {
  height: 100%;
}
p,
h1,
h2,
h3,
h4 {
  font-family: "Fredoka", sans-serif;
  color: #1f1d1dc2;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
a {
  font-family: "Fredoka", sans-serif;
  font-size: 24px;

  color: #00000099;
  cursor: url(./img/blaster.png) 10 10, pointer;
  text-decoration: none;
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1199px;
  min-width: 1000px;
  margin: 0 auto;
}

/* ====================================Common Classes ==============*/
.header {
  margin-top: 35px;
}

.navigation {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  height: 140px;
  background-color: #81c3d8;
  letter-spacing: 0.1cm;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 10px -6px 25px 7px rgba(56, 117, 117, 0.51);
  -webkit-box-shadow: 10px -6px 25px 7px rgba(56, 117, 117, 0.51);
  -moz-box-shadow: 10px -6px 25px 7px rgba(56, 117, 117, 0.51);
}

.active {
  color: #d33fd3b0;

  font-size: 32px;
  text-decoration: none;
  position: relative;
  transition: none;
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-link {
  transition: all 0.5s ease-out;
}

.nav-link:hover,
.nav-link:focus {
  transform: scale(1.3);
  color: #1f1d1df1;
}

.active:hover,
.active:focus {
  transform: none;
  color: #d33fd3b0;
}
/*========================================= Home Page ==============*/
/*============================================ Hero ==============*/
.hero {
  margin-top: 180px;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 80px;
}
.hero-img {
  width: 630px;
  height: 400px;
  display: block;
  margin-top: -30px;
  margin-left: -20px;
}

.hero-desc-first {
  margin-bottom: 40px;
  margin-top: 50px;
}
.hero-desc-first,
.hero-desc-second {
  font-size: 22px;
  text-align: center;
}

.hero-items-span {
  font-weight: 500;
  color: #5f11dd7f;
}
.hero-list {
  list-style-image: url("./img/coursor-blast\ 1.png");
  margin-left: -10px;
}

.hero-item {
  font-size: 22px;
}

/*====================================== History ==============*/

.history-header {
  font-weight: 800;
  font-size: 52px;
  color: rgba(211, 43, 226, 0.666);
  letter-spacing: 0.5cm;
  margin-bottom: 30px;
}

.history-list-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.history-list-item:last-child,
.history-list-item:first-child {
  flex-direction: row-reverse;
}

.history-list-item:last-child {
  margin-bottom: 0;
}
.item-title {
  font-size: 32px;
  font-weight: 600;
  color: #296ffbcf;
  margin-bottom: 30px;
}
.item-desc {
  width: 560px;
}

.history-item-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}
.item-img {
  width: 400px;
}
.home > .footer-img {
  margin-bottom: -22px;
}

/*================================= Footer ======================*/
.footer {
  padding-top: 20px;
  height: 304px;
  background-color: rgba(216, 96, 226, 0.666);
  margin: 0 auto;
  padding-bottom: 30px;
}

.footer-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: #faf615d3;
}

.footer-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-footer-link {
  color: rgba(207, 237, 99, 0.73);
  transition: all 0.5s ease-out;
}

.nav-footer-link:hover,
.nav-footer-link:focus {
  color: rgba(213, 255, 60, 0.822);
  transform: scale(1.12);
}
.footer-desc {
  text-align: center;
  margin-bottom: 40px;
}

.footer-list {
  display: flex;
  justify-content: center;
}
.footer-item {
  width: 300px;
}
.fotter-item-text {
  margin-bottom: 5px;
  color: rgba(9, 58, 237, 0.964);
}
.footer-item-link {
  cursor: pointer;
}

/*===============================FILMS PAGE=====================*/

.films {
  /* margin: 0 auto; */
  margin-top: 190px;
}
.films-wrap-search {
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 40px;
}

.films-search-input {
  padding: 8px;
  width: 250px;
  border: 2px solid #3498db;
  background-color: #abdeffc2;
  border-radius: 5px;
  font-size: 16px;
}

.films-search-btn {
  width: 80px;
  height: 40px;
  padding: 8px 12px;
  background-color: #3498db;
  color: rgba(255, 255, 255, 0.804);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
  transition: all 0.5s ease-out;
}

.films-search-btn:hover,
.films-search-btn:focus {
  background-color: #2980b9;
}

.films-searc-stitch {
  margin-top: -20px;
  width: 220px;
}

.films-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

.films-item {
  flex-wrap: nowrap;
  background-color: #dcf380bb;
  border-radius: 30px;
  border: 5px solid #b5ce54;
}

.films-link {
  display: flex;
  width: 1100px;
  gap: 30px;
  transition: all 0.5s ease-out;
}

.films-link:hover,
.films-link:focus {
  background-color: #c8e944bb;
  border-radius: 30px;
}

.films-wrapper-desc {
  width: 700px;
  margin-right: 25px;
}

.films-item-img {
  width: 280px;

  max-height: 425px;
  margin: 0 auto;
}
.films-title {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 28px;
  color: #d27bc1;
  margin-bottom: 10px;
}
.films-year {
  text-align: center;
  margin-bottom: 10px;
  font-weight: normal;
  color: #d27bc1ae;
}

.films-desc,
.films-director,
.films-genre,
.films-duration {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 5px;
}

.films-span-duration,
.films-span-genre,
.films-span-director {
  font-weight: normal;
  color: #bc6cac;
}
.footer-films-img {
  margin-bottom: -105px;
  margin-left: -50px;
  width: 350px;

  transition: width 2s, height 2s, background-color 2s, rotate 2s;
}

.footer-films-img:hover,
.footer-films-img:focus {
  width: 450px;
  rotate: 180deg;
}

/*============================Series PAGE=====================*/

.series {
  margin-top: 210px;
}
.series-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.series-item-link {
  display: block;
  height: 100%;
}
.series-item {
  width: 550px;
  background-color: #dcf380bf;
  border-radius: 30px;
  border: 5px solid #b5ce54;
  transition: all 0.5s ease-out;
}

.series-item:hover {
  background-color: #c8e944bb;
}

.series-item-img {
  display: block;
  width: 236px;
  margin: 0 auto;
  padding-top: 20px;
}

.series-wrapper-desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}

.series-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 28px;
  color: #d27bc1;
  margin-bottom: 10px;
  width: inherit;
}
.series-seasons {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  color: #d27bc1ae;
}
.series-desc {
  font-weight: normal;
  font-size: 24px;
  width: 400px;
}
.footer-series-img {
  width: 492px;
  margin-bottom: -45px;
  margin-top: -400px;
  margin-left: -50px;
}

/*============================Comics PAGE=====================*/
.comics {
  margin-top: 200px;
}

.main-comic-title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 40px;
  color: #f49f9fef;
  text-align: center;
}

.comic-main-text {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
}

.comic-main-text > a {
  display: block;
  color: #e18181bb;
  font-weight: 500;
  font-size: 30px;
  transition: all 0.5s ease-out;
}

.comic-main-text > a:hover {
  transform: scale(1.2);
}
.comics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.comics-item {
  width: 371px;
  background-color: #9ce8b0;
  border-radius: 30px;
  border: 5px solid #44c165;
  align-items: center;
  transition: all 0.5s ease-out;
}
.comics-item:hover {
  background-color: #44c165;
}
.comics-img {
  width: 260px;
  height: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.comics-desc {
  text-align: center;
  width: 280px;
  margin: 0 auto;
  height: 330px;
}

.comics-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
  color: #d27bc1;
  margin-bottom: 10px;
}
.comics-text {
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 35px;
}
.footer-img-comic {
  width: 400px;
  margin-left: 730px;
  margin-top: -420px;
  margin-bottom: -15px;
}
/*=========================Game PAGE =====================*/
.wrapper-game {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.video-game-img {
  width: 400px;
  height: 430px;
  transition: all 0.5s ease-out;
}

.video-game-img:hover {
  transform: scale(1.5);
}

.online-game {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}

.online-game-title {
  font-weight: 600;
  font-size: 24px;
  color: #ec5496;
  margin-bottom: 10px;
}

.games-list {
  list-style-image: url("./img/coursor-blast\ 1.png");
}
.games-item {
  margin-bottom: 30px;
}
.games-info > a {
  font-weight: 500;
  font-size: 26px;
  color: #5fc57a;
}
.games-info > a:hover {
  color: #27d355;
}
.games-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 28px;
  color: #d27bc1;
  margin-bottom: 10px;
}
.games-platform {
  font-weight: normal;
  font-size: 24px;
}
.games-desc {
  font-weight: normal;
  font-size: 24px;
}

.footer-img-game {
  width: 250px;
  margin-left: 800px;
  margin-bottom: -63px;
  transform: rotate(-3deg);
}
